body{
	 background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, blue); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, blue); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, blue); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red,orange,green,blue,indigo,violet); /* Standard syntax */
}

#myDiv {
  background-color: #7f8c8d;
  padding:300px;
  text-align: center;
}
i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#poem1{
	padding:450px;
}
.poem{
	padding: 100px;
	text-align: center;
	
}
div p{
	font-size:20px;
}